* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: block;
    text-align: center;
    
  }

  .nav-item {
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: Helvetica, Arial, sans-serif;
    display: flex;
  }

  .nav-link {
      display: flex;
      align-items: flex-start;
  }

  .container {
      width: 70%;
      height: 700px;
      /* background: khaki; */
      justify-items: center;
  }

  h2 {
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-size: 45px;
      padding: 80px;

  }
  
  p {
      font-size: 18px;
      position: relative;
      display: flex;
      justify-content: center;
      
  }

  #first-question, #second-question, #third-question, #fourth-question, #fifth-question, #enter-initials,
  #final-score {
    height: 800px;
    /* background: khaki; */
    justify-content: center;
    margin: 100px;
    
 }

 #second-question {
     margin: 80px;
 }

 button {
    width: 200px !important;
 }
 
 .btn-primary {
    background-color: #333366;
    text-align: left;
    display: flex;
    align-items: flex-start;
 }

 .btn-secondary {
     background-color: #333366;
     text-align: center;
 }

 .btn-primary:hover, .btn-secondary:hover {
     background-color: #cc66ff;
 }

 .form-control {
     width: auto;
 }
title {
    opacity: 0;
}

h4 {
    margin-left: 25%;
    opacity: .5;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: larger;
    text-align: left;
}
 /* .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #8064A2;
} */

header {
  padding: 20px 35px;
  display: flex;
  justify-content: center;
  z-index: 9999;
  top: 0;
  /* FOLLOWING DECLARATIONS ARE FOR SAFARI */
  position: -webkit-sticky;
  position: sticky; /* STICKY POSITION */
  top: 0;
}

